In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as pt

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'as.ipynb',
 'Bull.ipynb',
 'Datasets',
 'Dipin_0102_Simple_Linear_Regression.ipynb',
 'Dipin_Medical Insurance.ipynb',
 'Fuel_Consumption.ipynb',
 'House_Price_Prediction.ipynb',
 'Notes_02_Visuals.ipynb',
 'Operating_Outliers.ipynb',
 'Patient Expense Prediction Analysis for Doctors.ipynb',
 'Patient Expense Prediction Analysis for Doctors_old.ipynb',
 'Patient-Analysis-Expenses.ipynb',
 'Price_Prediction_Bulldozer.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb']

In [3]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [5]:
data=pd.read_csv('Datasets/Bulldozer Price_Data.csv')

In [6]:
data.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246.0,66000.0,999089.0,3157.0,121.0,3.0,2004.0,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248.0,57000.0,117657.0,77.0,121.0,3.0,1996.0,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249.0,10000.0,434808.0,7009.0,121.0,3.0,2001.0,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251.0,38500.0,1026470.0,332.0,121.0,3.0,2001.0,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253.0,11000.0,1057373.0,17311.0,121.0,3.0,2007.0,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter
count,2.990000e+02,299.000000,2.990000e+02,299.000000,299.0,299.0,299.000000,299.000000
mean,1.139732e+06,32450.000000,8.404672e+05,7380.515050,121.0,3.0,1876.193980,3751.046823
std,2.833651e+02,21949.321205,3.216085e+05,7155.000657,0.0,0.0,329.867101,4624.090975
min,1.139246e+06,5500.000000,4.527000e+03,77.000000,121.0,3.0,1000.000000,0.000000
25%,1.139494e+06,15750.000000,7.149545e+05,3217.000000,121.0,3.0,1996.000000,762.000000
50%,1.139713e+06,27000.000000,1.013386e+06,4606.000000,121.0,3.0,2000.000000,2300.000000
75%,1.139973e+06,41000.000000,1.043462e+06,9535.000000,121.0,3.0,2004.000000,5389.500000
max,1.140232e+06,127000.000000,1.069472e+06,36009.000000,121.0,3.0,2008.000000,29374.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401123 entries, 0 to 401122
Data columns (total 53 columns):
SalesID                     299 non-null float64
SalePrice                   299 non-null float64
MachineID                   299 non-null float64
ModelID                     299 non-null float64
datasource                  299 non-null float64
auctioneerID                299 non-null float64
YearMade                    299 non-null float64
MachineHoursCurrentMeter    299 non-null float64
UsageBand                   259 non-null object
saledate                    299 non-null object
fiModelDesc                 299 non-null object
fiBaseModel                 299 non-null object
fiSecondaryDesc             204 non-null object
fiModelSeries               39 non-null object
fiModelDescriptor           72 non-null object
ProductSize                 146 non-null object
fiProductClassDesc          299 non-null object
state                       299 non-null object
ProductGroup                299 non-null object
ProductGroupDesc            299 non-null object
Drive_System                71 non-null object
Enclosure                   299 non-null object
Forks                       138 non-null object
Pad_Type                    50 non-null object
Ride_Control                93 non-null object
Stick                       50 non-null object
Transmission                117 non-null object
Turbocharged                50 non-null object
Blade_Extension             21 non-null object
Blade_Width                 21 non-null object
Enclosure_Type              21 non-null object
Engine_Horsepower           21 non-null object
Hydraulics                  249 non-null object
Pushblock                   21 non-null object
Ripper                      67 non-null object
Scarifier                   21 non-null object
Tip_Control                 21 non-null object
Tire_Size                   64 non-null object
Coupler                     179 non-null object
Coupler_System              46 non-null object
Grouser_Tracks              45 non-null object
Hydraulics_Flow             45 non-null object
Track_Type                  89 non-null object
Undercarriage_Pad_Width     91 non-null object
Stick_Length                89 non-null object
Thumb                       89 non-null object
Pattern_Changer             89 non-null object
Grouser_Type                89 non-null object
Backhoe_Mounting            46 non-null object
Blade_Type                  46 non-null object
Travel_Controls             46 non-null object
Differential_Type           43 non-null object
Steering_Controls           43 non-null object
dtypes: float64(8), object(45)
memory usage: 93.3+ MB

**The above comment shows we have Objects in data base**

In [9]:
data.isna().sum()/len(data)

SalesID                     0.999255
SalePrice                   0.999255
MachineID                   0.999255
ModelID                     0.999255
datasource                  0.999255
auctioneerID                0.999255
YearMade                    0.999255
MachineHoursCurrentMeter    0.999255
UsageBand                   0.999354
saledate                    0.999255
fiModelDesc                 0.999255
fiBaseModel                 0.999255
fiSecondaryDesc             0.999491
fiModelSeries               0.999903
fiModelDescriptor           0.999821
ProductSize                 0.999636
fiProductClassDesc          0.999255
state                       0.999255
ProductGroup                0.999255
ProductGroupDesc            0.999255
Drive_System                0.999823
Enclosure                   0.999255
Forks                       0.999656
Pad_Type                    0.999875
Ride_Control                0.999768
Stick                       0.999875
Transmission                0.999708
Turbocharged                0.999875
Blade_Extension             0.999948
Blade_Width                 0.999948
Enclosure_Type              0.999948
Engine_Horsepower           0.999948
Hydraulics                  0.999379
Pushblock                   0.999948
Ripper                      0.999833
Scarifier                   0.999948
Tip_Control                 0.999948
Tire_Size                   0.999840
Coupler                     0.999554
Coupler_System              0.999885
Grouser_Tracks              0.999888
Hydraulics_Flow             0.999888
Track_Type                  0.999778
Undercarriage_Pad_Width     0.999773
Stick_Length                0.999778
Thumb                       0.999778
Pattern_Changer             0.999778
Grouser_Type                0.999778
Backhoe_Mounting            0.999885
Blade_Type                  0.999885
Travel_Controls             0.999885
Differential_Type           0.999893
Steering_Controls           0.999893
dtype: float64

**The above comment shows we have null values in the data set**

**Now lets sort the objects inside the column and remove the duplicates**

In [10]:
def Cate(data,column):
    list_cat = []
    for i in data[column].unique():
        list_cat.append(i)
    try:
        list_cat.remove(np.nan)
    except Exception as e:
        pass
    
    data[column+'_new']=pd.Categorical(data[column],categories=List_cat,ordered=True).code
    data.drop(f'{column}',axis=1,inplace=True)
    data.replace(-1,np.nan,inplace= True)

In [11]:
for i in data.columns:
    if data[i].dtype == 'O':
        try:
            Cate(data,i)
        except Exception as e:
            pass

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401123 entries, 0 to 401122
Data columns (total 53 columns):
SalesID                     299 non-null float64
SalePrice                   299 non-null float64
MachineID                   299 non-null float64
ModelID                     299 non-null float64
datasource                  299 non-null float64
auctioneerID                299 non-null float64
YearMade                    299 non-null float64
MachineHoursCurrentMeter    299 non-null float64
UsageBand                   259 non-null object
saledate                    299 non-null object
fiModelDesc                 299 non-null object
fiBaseModel                 299 non-null object
fiSecondaryDesc             204 non-null object
fiModelSeries               39 non-null object
fiModelDescriptor           72 non-null object
ProductSize                 146 non-null object
fiProductClassDesc          299 non-null object
state                       299 non-null object
ProductGroup                299 non-null object
ProductGroupDesc            299 non-null object
Drive_System                71 non-null object
Enclosure                   299 non-null object
Forks                       138 non-null object
Pad_Type                    50 non-null object
Ride_Control                93 non-null object
Stick                       50 non-null object
Transmission                117 non-null object
Turbocharged                50 non-null object
Blade_Extension             21 non-null object
Blade_Width                 21 non-null object
Enclosure_Type              21 non-null object
Engine_Horsepower           21 non-null object
Hydraulics                  249 non-null object
Pushblock                   21 non-null object
Ripper                      67 non-null object
Scarifier                   21 non-null object
Tip_Control                 21 non-null object
Tire_Size                   64 non-null object
Coupler                     179 non-null object
Coupler_System              46 non-null object
Grouser_Tracks              45 non-null object
Hydraulics_Flow             45 non-null object
Track_Type                  89 non-null object
Undercarriage_Pad_Width     91 non-null object
Stick_Length                89 non-null object
Thumb                       89 non-null object
Pattern_Changer             89 non-null object
Grouser_Type                89 non-null object
Backhoe_Mounting            46 non-null object
Blade_Type                  46 non-null object
Travel_Controls             46 non-null object
Differential_Type           43 non-null object
Steering_Controls           43 non-null object
dtypes: float64(8), object(45)
memory usage: 93.3+ MB

In [14]:
data.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246.0,66000.0,999089.0,3157.0,121.0,3.0,2004.0,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248.0,57000.0,117657.0,77.0,121.0,3.0,1996.0,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249.0,10000.0,434808.0,7009.0,121.0,3.0,2001.0,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251.0,38500.0,1026470.0,332.0,121.0,3.0,2001.0,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253.0,11000.0,1057373.0,17311.0,121.0,3.0,2007.0,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN