In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor

In [0]:
rdata=pd.read_csv('/content/drive/My Drive/Bulldozer Data/bluebook-for-bulldozers/Train/Train.csv', low_memory=False, parse_dates=['saledate'] )

In [4]:
rdata.head()

   SalesID  SalePrice  ...  Differential_Type  Steering_Controls
0  1139246      66000  ...           Standard       Conventional
1  1139248      57000  ...           Standard       Conventional
2  1139249      10000  ...                NaN                NaN
3  1139251      38500  ...                NaN                NaN
4  1139253      11000  ...                NaN                NaN

[5 rows x 53 columns]

In [7]:
rdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null int64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null object
saledate                    401125 non-null datetime64[ns]
fiModelDesc                 401125 non-null object
fiBaseModel                 401125 non-null object
fiSecondaryDesc             263934 non-null object
fiModelSeries               56908 non-null object
fiModelDescriptor           71919 non-null object
ProductSize                 190350 non-null object
fiProductClassDesc          401125 non-null object
state                       401125 non-null object
ProductGroup                401125 non-null object
ProductGroupDesc            401125 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
dtypes: datetime64[ns](1), float64(2), int64(6), object(44)
memory usage: 162.2+ MB

In [0]:
data1=rdata.copy()

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null int64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null object
saledate                    401125 non-null datetime64[ns]
fiModelDesc                 401125 non-null object
fiBaseModel                 401125 non-null object
fiSecondaryDesc             263934 non-null object
fiModelSeries               56908 non-null object
fiModelDescriptor           71919 non-null object
ProductSize                 190350 non-null object
fiProductClassDesc          401125 non-null object
state                       401125 non-null object
ProductGroup                401125 non-null object
ProductGroupDesc            401125 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
dtypes: datetime64[ns](1), float64(2), int64(6), object(44)
memory usage: 162.2+ MB

In [0]:
def assigncat(data,column):
  list1=[]
  for i in data[column].unique():
    list1.append(i)
  try:
    list1.remove(np.nan)
  except Exception as e:
    pass

  data[column+'_New']=pd.Categorical(data[column],categories=list1,ordered=True).codes
  data.drop(f'{column}', axis=1, inplace=True)
  data.replace(-1,np.nan,inplace=True)

In [0]:
for i in data1.columns:
  if data1[i].dtype=='O':
    try:
      assigncat(data1,i)
    except Exception as e:
      pass

In [0]:
data1['saleyear']=data1['saledate'].dt.year
data1.drop('saledate', axis=1,inplace=True)

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                        401125 non-null int64
SalePrice                      401125 non-null int64
MachineID                      401125 non-null int64
ModelID                        401125 non-null int64
datasource                     401125 non-null int64
auctioneerID                   380989 non-null float64
YearMade                       401125 non-null int64
MachineHoursCurrentMeter       142765 non-null float64
UsageBand_New                  69639 non-null float64
fiModelDesc_New                401125 non-null int16
fiBaseModel_New                401125 non-null int16
fiSecondaryDesc_New            263934 non-null float64
fiModelSeries_New              56908 non-null float64
fiModelDescriptor_New          71919 non-null float64
ProductSize_New                190350 non-null float64
fiProductClassDesc_New         401125 non-null int8
state_New                      401125 non-null int8
ProductGroup_New               401125 non-null int8
ProductGroupDesc_New           401125 non-null int8
Drive_System_New               104361 non-null float64
Enclosure_New                  400800 non-null float64
Forks_New                      192077 non-null float64
Pad_Type_New                   79134 non-null float64
Ride_Control_New               148606 non-null float64
Stick_New                      79134 non-null float64
Transmission_New               183230 non-null float64
Turbocharged_New               79134 non-null float64
Blade_Extension_New            25219 non-null float64
Blade_Width_New                25219 non-null float64
Enclosure_Type_New             25219 non-null float64
Engine_Horsepower_New          25219 non-null float64
Hydraulics_New                 320570 non-null float64
Pushblock_New                  25219 non-null float64
Ripper_New                     104137 non-null float64
Scarifier_New                  25230 non-null float64
Tip_Control_New                25219 non-null float64
Tire_Size_New                  94718 non-null float64
Coupler_New                    213952 non-null float64
Coupler_System_New             43458 non-null float64
Grouser_Tracks_New             43362 non-null float64
Hydraulics_Flow_New            43362 non-null float64
Track_Type_New                 99153 non-null float64
Undercarriage_Pad_Width_New    99872 non-null float64
Stick_Length_New               99218 non-null float64
Thumb_New                      99288 non-null float64
Pattern_Changer_New            99218 non-null float64
Grouser_Type_New               99153 non-null float64
Backhoe_Mounting_New           78672 non-null float64
Blade_Type_New                 79833 non-null float64
Travel_Controls_New            79834 non-null float64
Differential_Type_New          69411 non-null float64
Steering_Controls_New          69369 non-null float64
saleyear                       401125 non-null int64
dtypes: float64(40), int16(2), int64(7), int8(4)
memory usage: 146.9 MB

In [11]:
data1.head()

   SalesID  SalePrice  ...  Steering_Controls_New  saleyear
0  1139246      66000  ...                    0.0      2006
1  1139248      57000  ...                    0.0      2004
2  1139249      10000  ...                    NaN      2004
3  1139251      38500  ...                    NaN      2011
4  1139253      11000  ...                    NaN      2009

[5 rows x 53 columns]

In [0]:
for i in data1.columns:
  data1[i]=data1[i].fillna(data1[i].median())

In [0]:
X=data1.drop('SalePrice', axis=1)
Y=np.log(data1.SalePrice)

In [22]:
forr=RandomForestRegressor(n_jobs=-1)
forr.fit(X,Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [23]:
forr.score(X,Y)

0.9871588993242172

In [0]:
def split_val(a,n): return a[:n].copy(), a[n:].copy()

In [15]:
n_valid=12000
n_trn=len(X)-n_valid
raw_train, raw_valid=split_val(data1,n_trn)
X_train,X_valid=split_val(X,n_trn)
Y_train,Y_valid=split_val(Y,n_trn)

X_train.shape, Y_train.shape, X_valid.shape, Y_valid.shape

((389125, 52), (389125,), (12000, 52), (12000,))

In [0]:
from sklearn.metrics import confusion_matrix, mean_squared_error
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz
import pydotplus
from IPython import display
from io import StringIO
from math import *
import re

In [0]:
def RMS(x,y): return sqrt(((x-y)**2).mean())

In [0]:
def print_score(m):
  res=[RMS(m.predict(X_train),Y_train), RMS(m.predict(X_valid),Y_valid),m.score(X_train,Y_train),m.score(X_valid,Y_valid)]
  if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
  print(res)

In [44]:
m=RandomForestRegressor(n_estimators=1,max_depth=3,bootstrap=False, n_jobs=-1)
m.fit(X_train,Y_train)
print_score(m)

[0.5513536884318424, 0.5727537785897336, 0.3646758053798844, 0.4141534186104713]

In [0]:
import graphviz
import IPython

def draw_tree(t, df, size=10, ratio=0.6, precision=0):
    """ Draws a representation of a random forest in IPython.
    Parameters:
    -----------
    t: The tree you wish to draw
    df: The data used to train the tree. This is used to get the names of the features.
    """
    s=export_graphviz(t, out_file=None, feature_names=df.columns, filled=True,
                     special_characters=True, rotate=True, precision=precision)
    IPython.display.display(graphviz.Source(re.sub('Tree {',
      f'Tree {{ size={size}; ratio={ratio}', s)))

In [47]:
draw_tree(m.estimators_[0], X, precision=3)

In [0]:
m = RandomForestRegressor(n_estimators=1, bootstrap=False, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)